@model IEnumerable<EmployeeManagementSystem2.Models.EmployeeWageRateVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentSalaryHike)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentSalaryHike)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeType.BusinessTravel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
